{{ module_doc | docstring }}

import pytest
{% if model_imports %}
{{ model_imports }}
from pydantic import TypeAdapter
{% endif %}

pytestmark = pytest.mark.{{ marker }}
{% for case in cases %}


{% if case.skip %}
{{ case.skip }}
{% endif %}
def {{ case.name }}({{ "client, auth_headers" if case.uses_auth else "client" }}):
    {{ case.doc | docstring(4) }}
{{ case.request }}
{{ case.checks }}
{% endfor %}
